.footer {
  width: 770px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: rgba(242, 124, 15, 0.3);
}
.footerBox {
  margin-top: 15px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.footerList {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-left: 30px;
  padding: 15px 10px;
  background: rgba(130, 19, 19, 0.2);
}
.footerItem {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.footerInfo {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
