.header {
  width: 770px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 164, 56, 0.09);
}
.headerList {
  display: flex;
  justify-content: end;
  gap: 25px;
  padding: 20px 0px 20px 199px;
  text-align: center;
}
.listItem {
  font-size: 24px;
  line-height: 28px;
  color: #003399;
}
.headerLogo {
  background: rgba(240, 14, 14, 0.1);
  padding-right: 20px;
}
